<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,maximum-scale=2">
{{ $style := resources.Get "style/style.scss" | toCSS | postCSS  | fingerprint }}
<link rel="stylesheet" type="text/css" media="screen" href='{{ $style.RelPermalink }}'>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"
        async></script>
<title>{{ .Title }}</title>

{{ if site.Params.favicon -}}
<link rel="icon" {{ if site.Params.favicon.mime }}type="{{ site.Params.favicon.mime }}" {{ end }}href="{{ site.Params.favicon.src }}">
{{ end -}}

{{ if (or site.Params.goatCounterId site.Params.goatCounterUri) -}}
{{ partial "head/goat-counter-filter.html"}}
{{ partial "goat-counter.html"}}
{{ end -}}

{{ template "_internal/opengraph.html" . }}
