<div id="footer">
    <footer>
        <span>
            &copy; 2021 spektrum-autyzmu.github.io
        </span>

        <ul>
            <li>
                <a href="https://github.com/spektrum-autyzmu/spektrum-autyzmu">
                    <img src="images/gh.svg" alt="GitHub" class="icon-contact">
                </a>
            </li>
            <li>
                <a href="https://fb.me/spektrum.autyzmu.2021">
                    <img src="images/fb.svg" alt="Facebook" class="icon-contact">
                </a>
            </li>
        </ul>

        <div>
            <div>
                Ikona strony oraz obraz u góry strony: keylight-di<br>
                Ikony wykonane przez <a href="https://www.iconfinder.com/hillvector">Hilmy Abiyyu</a>
            </div>
        </div>
    </footer>
</div>
